@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-red: #e63946;
  --color-orange: #f4a261;
  --color-yellow: #e9c46a;
  --color-green: #2a9d8f;
  --color-blue: #457b9d;
  --color-violet: #9c27b0;
  --color-magenta: #d81b60;
}

body {
  font-family: "Poppins", "Inter", sans-serif;
  background-color: #fff;
  color: #222;
}